{% extends 'app_home/base.html' %}

{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app_load/css/load.css' %}"/>

<ul id="cluster_tab" class="nav nav-tabs">
    <li class="nav-item">
        <a id="tab_select_database" class="nav-link" ><strong>1. SELECIONE O ARQUIVO</strong></a>
    </li>
    <li class="nav-item">
        <a id="tab_cluster" class="nav-link"><strong>2. CLUSTERIZAÇÃO</strong></a>
    </li>
</ul>

<div class="tab-content">

    <div style="display:none;"  class="animate-bottom" id="loader"></div>

    <div id="not_loader" class="container tab-pane active"><br>

        <div class="form-group">
            <label for="database_name">Arquivo selecionado:</label>
            <input value="{{selected_database}}" type="email" class="form-control" id="database_name" disabled>
        </div>

        <hr/>

        <div class="form-check">
            <label class="form-check-label">
                <input id="chkbx_auto_cluster" type="checkbox" class="form-check-input" value="" checked>Clusterização Automática
            </label>
        </div>

        <br>

        <div id="autocluster" style= "display:none">
            <div  class="row">
                <div class="col-sm-6">
                    <div id="failure_cause_box" class="card cluster_box">
                        <h5 class="card-header">Causas de Falha</h5>
                        <div id="drop_fc_box" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">
                            {% for index, cause in failure_causes %}
                            <p id="drag_{{index}}" draggable="true" ondragstart="drag(event)">{{ cause }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card-deck">
                        <div class="card">
                            {% for cl in range_clusters %}
                            <h5 class="card-header">Cluster {{ cl }}</h5>
                            <div id="cluster_{{ cl }}" class="card-body text-center cluster_box cluster" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <div class="form-check">
            <label class="form-check-label">
                <input id="chkbx_validation" type="checkbox" class="form-check-input" value="" checked>Validar database
            </label>
        </div>

        <br>

        <div id="trainsplit">
            <div class="form-group">
                <label for="train_size">Meses para treino: </label>
                <input type="range" class="form-control slider" id="train_size" value="1" min="1" max="{{ month_range|length }}">
                <br>
                <div id="month_list" months="{{ month_range }}" year="{{ start_year }}">
                    <div id="ml" >
                    </div>
                </div>
            </div>

        </div>

        <button type="button" id="btn_load" class="btn float-right btn-circle" data-url="{% url 'run_load' %}"> >> </button>
        <div id="notification" class="alert alert-danger" style="display: none;">
        </div>
    </div>

</div>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'app_home/lib/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'app_home/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'app_load/js/util.js' %}"></script>
<script src="{% static 'app_load/js/load.js' %}"></script>

{% endblock %}