{% extends 'app_home/base.html' %}

{% block content %}

{% load static %}

<ul id="cluster_tab" class="nav nav-tabs">
    <li class="nav-item">
        <a id="tab_select_database" class="nav-link"><strong>1. SELECIONE O ARQUIVO</strong></a>
    </li>
</ul>

<div class="tab-content">

    <div style="display:none;"  class="animate-bottom" id="loader"></div>

    <div id="not_loader" class="container tab-pane active justify-content-center"><br>

        <ul class="list-group">
            {% for file in loaded_input_files %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="database_file" href="{% url 'load_features' file %}" name="{{file}}">
                        <span><img src="{% static 'app_home/img/loaded.png' %}"/></span> &nbsp &nbsp {{file}}
                    </a>
                </li>
            {% endfor %}

            {% for file in not_loaded_input_files %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a class="database_file" href="{% url 'load_features' file %}" name="{{file}}">
                    <span><img src="{% static 'app_home/img/not_loaded.png' %}"/></span> &nbsp &nbsp {{file}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- JAVASCRIPT FILES -->
<script src="{% static 'app_home/lib/jquery/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'app_home/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'app_load/js/select_database.js' %}"></script>

{% endblock %}